.ml-30 {
    margin-left: 30px;
}
.ml-90 {
    margin-left: 90px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.a-reset {
    text-decoration: none;
    color: inherit;
}
.text-center {
    text-align: center;
}

.img-mini {
    width: 3rem;
    height: 3rem;
}

html {
    font-size: 100%;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden
}

body {
    margin: 0;
    font-family: 'Inter';
    line-height: 30px;
    position: sticky;
    background-color: white;
}

.header {
    justify-content: space-between;
    top: 0;
    left: 0;
    font-weight: normal;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 100;
}

.top-row {
    width: 100%;
    height: 41px;
    background-color: #79B3FF;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.under-row {
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgb(0, 0, 0, 0.25) 0px 2px 4px;
}

.logo {
    width: clamp(60px, 10vw, 110px);
}

.logo-container {
    flex-shrink: 0;
    height: 120px;
    width: 140px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.phone-container {
    order: 4;
}

.phone-container p {
    margin: 0;
    font-size: 16px;
}

.phone-container img {
    width: clamp(20px, 5vw, 48px);
    padding-right: 10px;
}

.icons-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 30px;
}

.icon-size {
    font-size: 30px;
}

.icons-wrapper {
    width: 176px;
    height: 60px;
    border-radius: 35px;
    cursor: pointer;
}

.icons-wrapper p {
    margin-left: 10px;
    font-weight: 500;
}

.icons-wrapper img {
    height: 32px;
    width: 34px;
}

#open-cart-button {
    position: relative;
}

#open-cart-button span {
    display: none;
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    height: 2rem;
    width: 2.4rem;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

.header .icons-wrapper {
    color: white;
    background-color: #79B3FF;
    transition: color 0.3s;
}

.header .icons-wrapper:hover {
    color: #313436;
}

.menu-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}

form {
    align-items: center;
    background: #D9D9D9;
    border-radius: 35px;
    gap: 10px;
}

input {
    width: clamp(60px, 20vw, 300px);
    padding: 0.5rem;
    background: transparent;
    border: none;
    box-sizing: border-box;
    text-align: left;
    border-radius: 15px;
}

.btn {
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #79B3FF;
    border-radius: 10px;
}

.btn--search {
    height: 100%;
    width: 93px;
    background: #79B3FF;
    color: white;
}
.btn--search > i:hover {
    transition: 0.3s;
    color: #313436;
}
.search {
    height: 54px;


}
.search-li {
    order: 3;
    display: flex;
    align-items: center;
}


/* Навігація */
.nav {
    display: flex;
    height: 40px;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 51px;
    padding: 0;
    margin: 0 0 0 30px;
}

.nav-item a, .nav-item {
    display: flex;
    color: white;
    font-size: 16px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-item h4 {
    margin: 0;
}

.nav-item a:hover {
    color: #313436;
}

.nav-item p {
    margin: 0 2rem 0 0;
}

/* Бургер-меню */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger-visible {
    display: none;
}

.menu-item {
    display: block;
}

.a-wrap {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    transition: background 0.3s;
}

.nav {
    order: 2;
    flex: 1;
}

.icons-container {
    order: 4;
}


/* main */
.main-page {
    margin-top: 160px;
}
.block-img-cover {
    opacity: 100%;
    background-image: url(https://www.upload.ee/image/19540343/_____________-_2026-07-14T164636.601.png);
    height: 400px;
    background-size: contain;
    justify-content: space-between;
    margin: 0 1rem;
    font-size: 2rem;
}
.catalog-link {
    background-color: #E0E9F5;
}
.catalog-link a {
    color: white;
    background-color: rgb(121, 179, 255);
    padding: 0 2rem;
    transition: color 0.3s;
}
.catalog-link a:hover { 
    color: #313436;
}
#topsale-table, #discount-table {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    overflow: hidden;
}


/* Profile  */
#user-header {
    display: none;
}
.profile-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 60px 80px;
    box-sizing: border-box;
}

.profile-info {
    flex: 1;
    max-width: 350px;
}

.profile-info h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.profile-card {
    background-color: #b9c8d3;
    border-radius: 35px;
    padding: 25px 30px;
    line-height: 1.8;
}

.edit-btn {
    display: block;
    background-color: #c2dc90;
    width: 120px;
    height: 40px;
}

/* Orders */
.orders-section {
    flex: 2;
    background-color: #b9c8d3;
    border-radius: 35px;
    padding: 25px 30px;
}

.orders-section h2 {
    text-align: center;
    background-color: #e1e4dd;
    padding: 8px 20px;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto 25px;
    font-size: 20px;
}

.registrate-wrap,
.login-wrap {
    display: none;
    width: fit-content;
    max-width: 700px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-wrap, .registrate-wrap {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: fit-content;
    overflow-y: auto;
    background: white;
    border-radius: 20px;
    z-index: 10000;
}

.login-wrap > form, .registrate-wrap > form {
    padding: 1rem;
}

.registrate-wrap input,
.login-wrap input {
    width: 90%;
    border: 1px solid #ccc;
}
.registrate-wrap button,
.login-wrap button {
    background: #0066cc;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Футер */
.footer {
    justify-content: space-around;
    background-color: #E0E9F5;
    align-items: flex-start;
    border-top: solid 4px black;
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.footer a {
    margin: 0.5em 0;
}
.footer i {
    font-size: 2rem;
}
.footer .address {
    margin: 0;
    max-width: 30vh;
    font-weight: 400;
}

@media screen and (max-width: 768px) {

    .header {
        position: static;
    }
    .under-row {
        order: 1;   
        justify-content: space-between;
    }
    .nav {
        display: none;
        width: 350px;
        background: #79B3FF;
    }
    .nav.open {
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        max-height: none;
        height: 100vh;
    }
    .nav ul {
        flex-direction: column;
        gap: 1rem;
    }
    .nav ul:first-child {
        margin-top: 1rem;
    }
    .nav-item p {
        margin: 1rem 0 0 30px;
    }
    .logo-container {
        order: 1;
        height: 80px;
        width: 80px;
    }
    .icons-container {
        gap: 10px;
    }
    .icons-wrapper {
        width: 40px;
        height: 40px;
    }
    .burger-menu {
        display: flex;
    }
    .burger-menu.open {
        position: fixed;
    }
    .burger-visible {
        display: flex;
    }
    /* прибрати напис мій кошик */
    #cart-text { 
        display: none;
    }
    .btn--search {
        width: 40px;
    }
    .search {
        height: 40px;
    }
    form { 
        padding: 0;
    }
    .phone-container {
        display: none;
    }

    .main-page {
        margin-top: 0;
    }
    #topsale-table, #discount-table {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        overflow: hidden;
        max-width: 95vw;
    }   
    .block-img-cover {
        height: 200px;
    }
    i {
        font-size: 1rem;
    }
    
    .footer {
        font-size: 0.8rem;
        flex-direction: column;
    }
    .footer .clients-info, .footer .shop, .footer .media {
        margin-left: 2rem;
    }
    .img-mini {
        width: 2rem;
        height: 2rem;
    }
}

/* КАТАЛОГ */
.catalog {
    padding: 160px 0 50px 0;
}
.catalog-page {
    display: flex;
}
.catalog-page .category {
    padding: 0 30px;
    max-height: 100%;
    max-width: 200px;
    width: 100%;
    border-radius: 0 10px 0 0;
}

.catalog .mobile-sort {
    display: none;
}

#category-grid {
    display: grid;
    flex-direction: column;
}
.category-list h4, .category-list h2 {
    margin: 10px 0 5px 0;
}
.checkbox > i{ 
    color: black;
}
.checkbox > .fa-square-check {
    color: #79B3FF;
}
.checkbox > .fa-square-check::before {
    font-weight: bold;
}
.checkbox-wrap {
    cursor: pointer;
    padding: 3px 5px 3px 3px;
    width: auto;
    display: flex;
    gap: 10px;
}
.checkbox-wrap:hover {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.checkbox-wrap .amount {
    font-size: 12px;
}
.checkbox-wrap .amount-wrap {
    margin-left: auto;
}
.label .filter-title {
    font-size: 14px;
    transition: 0.2s;
}
.checkbox-wrap:hover .filter-title {
    color: rgb(6, 127, 248);
}


.price-container {
    display: flex;
    gap: 5px;
}
.category {
    display: flex;
    flex-direction: column;
}
.price-glider {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.slider-container {
    width: 175px; 
    display: flex;
    align-items: center;
    height: 26px;
    position: relative;
}
.slider-range {
    width: 100%;
    height: 4px;
    background-color: #79B3FF;;
}
.slider-handler {
    position: absolute;  /* або relative */
    cursor: grab;
}
.slider-handler:focus {
    background-color: red;
}
.slider-handler > i {
    color:white;
    background-color: #79B3FF;
    border: 2px solid #79B3FF;
    border-radius: 36px;
    font-size: 22px;
    display: flex;
    align-items: center;
    width: auto;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.price-container > input {
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 50%);
    padding-left: 5px;
}
.price-container > button {
    background-color: white;
    color: #79B3FF;
    border: 1px solid #79B3FF;
    transition: background-color 0.3s;
}
.price-container > button:hover {
    background-color: #79B3FF;
    color: white;
}

.hotbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}
.hotbar-item {
    gap: 10px;
    color: rgb(100, 100, 100);
}
.hotbar-item > a > p {
    margin: 0;
    font-weight: 400;
}
.hotbar-item .fa-solid {
    --fa-style: 700;
}
.dropbtn {
    margin-top: 15px;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    font-size: 18px
}
.dropdown-content {
    display: none;
}
.dropdown-content.open {
    position: absolute;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
}
.dropdown-content i {
    font-size: 8px;
    justify-content: center;
}
#dropdown-arrow {
    transition: transform 0.4s;
}
#dropdown-arrow.open {
    transform: rotate(180deg);
}
.optionbtn {
    background-color: #79B3FF;
    border: none;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    color: white;
}
.optionbtn span {
    transition: color 0.3s;
}
.optionbtn span:hover {
    color: #2E39D3;
}
#option0 {
    border-radius: 10px 10px 0 0;
}
#option4 {
    border-radius: 0 0 10px 10px;
}

.product-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 230px;
    height: 350px;
    border-radius: 10px;   
    border: 1px solid rgba(126, 125, 125, 0.4);
    background-color: white;
}
.product-card .product-info, .product-price{
    line-height: 17px;
    margin-left: 50px;
    margin-right: auto;
}
.product-card .product-price {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 6px;
}
.product-old-price {
    font-size: 12px;
    color: gray;
}
.product-image {
    width: 100%;
    height: 200px; /* зона под фото внутри карточки */
}
.product-card img {
    border-radius: 9px 9px 0 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    object-position: top center; /* заполняет зону, обрезает лишнее */
}
.product-card h3, .product-card p {
    margin: 0;
    font-size: 18px;
}
.product-card h3 {
    padding-top: 3px;
    font-size: 1rem;
    font-weight: 600;
}
.product-card .product-category, .product-card .av {
    font-size: 12px;
    font-weight: 300;
}
.product-card .av {
    color: #028B1B;
    margin-top: 5px;
}
.product-card .to-cart-button {
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 153px;
    height: 30px;
    background-color: #79B3FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s background-color;
}
.product-card .to-cart-button:hover{
    background-color: #6797d6 ;
}
.product-card .in-cart-button {
    background-color: gray;
}

.products-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    margin-top: 20px;
    justify-content: center;
}
.without-products {
    width: 100%;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.pop-up-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.5);  
    display: none;
}
.cart {
    display: none;
}
.cart .pop-up {
    position: fixed;  
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100vh;     
    overflow-y: auto; 
    background: white;
    border-radius: 20px;
    padding: 0 1rem;
    z-index: 10000;
}
.cart .pop-up h3 {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 0.7rem 0;
}
.cart .pop-up h2 {
    font-size: 1rem;
    font-weight: normal;
}
.cart-summary {
    justify-content: flex-end;
    gap: 0.5rem;
    text-align: center;
}
.cart-summary span {
    font-weight: bold;
    font-size: 1.3rem;
}
.cart-buttons {
    justify-content: space-between;
}
.make-order {
    font-size: 1.3rem;
    padding: 1rem 2rem;
    font-weight: bolder;
    transition: color 0.3s;
}
.make-order:hover {
    color: #313436;
}
.go-back-arrow {
    border: none;
    color: black;
    background-color: white;;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s;
}
.go-back-arrow:hover {
    color: #313436;;
}
.cart #close-cart {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    cursor: pointer;
    color: rgb(82, 81, 81);
}

table {
    border-collapse: separate;
    /* Убираем стандартные отступы между ячейками, чтобы строка казалась цельной */
    border-spacing: 0 10px; /* 10px — отступ между строками, если нужен */
}
tbody > tr > td:first-child {
    border-radius: 20px 0 0 20px;
    /* Имитация левой, верхней и нижней рамки */
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.3), inset 0 -1px 0 0 rgba(0, 0, 0, 0.3); 

    padding: 10px 0 10px 20px;

    width: 1%;
    white-space: nowrap;
}
tbody > tr > td {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3), inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
tbody > tr > td:last-child {
    border-radius: 0 20px 20px 0;
    /* Имитация правой, верхней и нижней рамки */
    box-shadow: inset -1px 1px 0 0 rgba(0, 0, 0, 0.3), inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);

    padding: 10px 10px 10px 0px;
}
.image-td {
    width: 6rem;
    height: 7rem;
    display: block;
}
.text-td {
    padding-left: 10px;
}
tbody .text-td h2 {
    color: #0065FC;
    margin: 0;
}
tbody .text-td span {
    font-size: 0.8rem;
    font-weight: 300;
}
tbody .counter {
    border: 1px solid #79B3FF;
    border-radius: 20px;
    width: fit-content;
    white-space: nowrap;
    padding: 0.5rem 0;
    display: inline-flex;
}
tbody .counter button {
    color: black;
    background-color: white;
    padding: 0 1rem;
}

/* Замовлення Checkout */
.checkout-main {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #EBF8FF;
}
.order {
    width: 700px;
    margin: 1rem 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
}
.order ul {
    padding-left: 1rem;
}
.order ul li {
    position: relative;
    list-style: none;
    transition: color 0.3s;
    cursor: pointer;
    padding-left: 1.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: fit-content;
}
.order ul li::before {
    content: '•';
    font-size: 1.5rem;
    position: absolute;
    top: -2px;
    left: 0;
    padding-left: 0.5rem;
    color: gray;
}
.order ul li.active {
    color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 20px;
    max-width: fit-content;
    padding-right: 1rem;
}
.order ul li.active::before {
    padding-left: 0.5rem;
    color: #0065FC;
}

.order .open-delivery-address {
    width: 50vh;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: white;
    border: black 1px solid;
    color: black;
}

.delivery-ul .address {
    display: none;
}
.delivery-ul .address.active {
    display: flex;
}
.delivery-ul .dropdown-content {
    display: none;
}
.delivery-ul .dropdown-content.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -30px;
}

.delivery-ul .branches-ul {
    background-color: white;
    border: black 1px solid;
    border-radius: 10px;
    top: -37px;
    position: absolute;
    width: 47.5vh;
    max-width: 50vh;
    z-index: 10;
}
.delivery-ul .branches-ul > li {
    padding-left: 0;
    position: relative;
    font-size: 0.9rem;
    background-color: white;
    color: black;
    transition: 0.3s;
}
.delivery-ul .branches-ul > li:hover {
    color: #0065FC;
}
.delivery-ul .branches-ul li::before {
    content: none; /* убираем буллет */
}
.delivery-ul .branches-ul li:hover {
    color: #0065FC;
}
.delivery-ul .branches-ul li.selected {
    color: #0065FC;
    font-weight: 500;
}

.delivery-ul [data-input="valid"], .payment-ul [data-input="valid"] {
    display: none;
}
.delivery-ul [data-input="invalid"], .payment-ul [data-input="invalid"] {
    display: block;
    color: red;
}

.order .user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.order .user h3, .order .user p {
    margin: 0;
}
.order .user i {
    color: white;
    background-color: #0065FC;
    padding: 0.5rem;
    border-radius: 20px;
}

.order-confirm {
    background-color: white;
    border-radius: 20px;
    margin: 1rem 2rem;
    padding: 1rem;
    height: fit-content;
}
.order-confirm span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#amount-display-text, #final-delivery, #sum-price {
    font-weight: bold;
}



@media screen and (max-width: 720px) {
    .catalog {
        padding: 0;
    }
    .catalog-page {
        flex-direction: column;
        align-items: center;
    }
    .catalog-page .category {
        padding: 0;
        max-width: fit-content;
    }
    .category .offer, .category h2 {
        display: none;
    }
    .slider-container {
        display: none;
    }
    #category-grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    .category-list h4 {
        margin: 5px 0 5px 0;
    }
    .catalog .products-grid {
        margin: 0 10px;
        max-width: 100%;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    .hotbar {
        padding: 0;
        justify-content: space-around;
        align-items: center;
    }
    .hotbar-item {
        gap: 4px;
    }
    .hotbar-item, .hotbar-item p, .hotbar-item a > i {
        font-size: 12px;
    }
    .hotbar-item i {
        font-size: 8px;
    }
    .hotbar-item .icons-wrapper p {
        margin: 0px
    }
    .hotbar .icons-wrapper {
        width: auto;
        height: 50px;
    }
    .dropbtn {
        margin: 0;
        height: 30px;
        width: 100px;
        font-size: 10px;
    }
    .dropdown-content.open > .optionbtn {
        padding: 5px 10px;
        font-size: 10px;
    }
    .full-filter {
        margin-top: 10px;
    }
    .full-filter button {
        height: 40px;
        font-size: 14px;
    }

    tbody > tr > td:first-child {
        width: auto!important;
        padding: 10px 0 10px 10px;
    }
    tbody .counter button {
        padding-inline: 6px;
    }
    tbody > tr > td:last-child {
        padding: 0;
        padding-left: 0.5rem;
    }
    thead > tr > td {
        font-size: 0.8rem;
        padding: 0 0.5rem 0 0;
    }
    thead > tr > td:first-child {
        padding-left: 0.5rem;
    }
    .empty-td {
        padding: 0!important;
    }
    tr, tbody, td p table div, table table{
        width:100%;
    }
    table img {
        max-width:100%;
        height:auto;
    }

    .cart .pop-up {
        width: 90%;
        padding: 0 0.5rem;
    }
    #open-cart-button span {
        width: 1.4rem;
        height: 1.3rem;
    }
    .product-card .product-info, .product-price {
        margin-left: 5px;
    }
    .product-card .to-cart-button {
        width: 100px;
    }
    .product-card {
        height: 300px;
    }
    .product-image {
        height: 150px;
    }

    .checkout-main {
        flex-direction: column;
        font-size: 0.7rem;
        padding-top: 1rem;
    }
     .checkout-row {
        justify-content: space-around;
    }
    .checkout-main .order {
        margin: 0 0.4rem;
        padding: 0.5rem;
    }
    .order {
        width: auto;
    }
    .order ul li { 
        width: 33vh;
    }
    .order-confirm {
        margin: 1rem 0.4rem;
    }
    .delivery-ul .dropdown-content  .branches-ul { 
        width: 31vh;
    }
}